
packages = ["ur_description", "robotiq_85_description"]
starting_joint_values= [3.14, -1.57, -1.57, -3.14, -1.57, 0]
approach_dist= 0.04 

[urdf_paths]
robot= "urdfs/res/ur5_grip.urdf"
obstacle= "urdfs/obstacles.urdf"

[links]
base= ["base_link"]
ee= ["gripper_center_link"]
used_joints= [
    "shoulder_pan_joint",
    "shoulder_lift_joint",
    "elbow_joint",
    "wrist_1_joint",
    "wrist_2_joint",
    "wrist_3_joint",
]


[objectives.z_pos]
func= {Groove={t = 0.0, d = 2, c = 0.1, f = 10.0, g = 2}}
weight= 70

